*{
    margin :0;
    box-sizing: border-box;
    direction: rtl;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.search
{

    float: left;
    margin-top:-35px;
    margin-left: 10px;

}
.navbar
{
    display: inline;
    position: absolute;
}
.navbar ul
{
    list-style-type: none;
}
.menu .navbar ul li ul
{
    visibility: hidden;
    position: absolute;
}
.menu .navbar ul li :hover>ul
{
    visibility: visible;
}


.menu .navbar > ul > li
{
    float: right;
}



.part
{
    padding-right: 10px;
    float: right;
    text-decoration: none;
    display:block;
    line-height: normal;
}
.part:hover
{
  background-color: rgb(201, 201, 230);
}
#logo
{
    display: inline;
}

.menu
{
    padding-top:70px ;
    background-color: rgb(84, 167, 139);
    position: relative;
}
